.footer { 
	margin-top:15px;
	padding-left:6px;
	padding-right:6px;
 	background-color:#0B1149;
	color:white;
	border-style:ridge; 
	border-color:#8BBFFF;
	border-width:3px; 
}

.document .footer
{
	/* compensate the 8px padding */
	margin-left:-8px;
}

 
.footer .date { font-size:smaller; text-align:right;}



h1 
{ 
	padding-left:6px;
	padding-right:6px;
	color:white;
	border-style:ridge;
	background-color:#0B1149; 
	border-color:#8BBFFF;
	border-width:4px; 
}

h2 
{ 
	padding-left:6px;
	padding-right:6px;
	border-style:ridge; 
	border-color:#0B1149;
	background-color:#8BBFFF;
	border-width:3px; 
}

.document h2 
{
	/* compensate the 8px padding */
	margin-left:-8px;
}

.document
{
	padding-left:8px
}

.footer a:visited { font-weight:bold; color:#D814FF }
.footer a:link { font-weight:bold; color:#00BFFF }
.footer a:hover { font-weight:bold; color:#00D5FF }

